$adapt-2400_width: 2399px;
$adapt-2200_width: 2199px;
$adapt-2000_width: 1999px;
$adapt-1800_width: 1799px;
$adapt-1600_width: 1599px;
$smallpc_width: 1399px;
$laptop_width: 1199px;
$tablet_width: 1024px;
$big-mobile_width: 767px;
$s-mobile_width: 600px;
$mobile_width: 480px;
$iphone-small_width: 320px;

$os_font: 'OpenSans';
$mont_font: 'Montserrat';

$transition: all .5s;

$color_525fa7: #525fa7;
$color_525ea7: #525ea7;
$color_d5d6d5: #d5d6d5;
$color_fff: #fff;
$color_fafafa: #fafafa;
$color_313131: #313131;
$color_3a3a3a: #3a3a3a;
$color_525050: #525050;
$color_969494: #969494;